<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Reflow_Oven.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Reflow_Oven.My.MySettings>
            <setting name="autoconnectsave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Fsave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Csave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IntervalSave" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="otmulitplySave" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OTAddSave" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="portsave" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxOvenTempSave" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="MaxCaseTempSave" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="AvgCoefficientSave" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ShowBelow100Save" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="E_PreTempSave" serializeAs="String">
                <value />
            </setting>
            <setting name="E_PreTimeSave" serializeAs="String">
                <value />
            </setting>
            <setting name="E_SoakSave" serializeAs="String">
                <value />
            </setting>
            <setting name="E_soakTempSave" serializeAs="String">
                <value />
            </setting>
            <setting name="E_PreHeatConvSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="E_SoakConvSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="E_ReflowConvSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="E_CoolDownConvSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReflowTimeSave" serializeAs="String">
                <value />
            </setting>
            <setting name="ReflowTempSave" serializeAs="String">
                <value />
            </setting>
            <setting name="E_CooldownTimeSave" serializeAs="String">
                <value />
            </setting>
            <setting name="E_CooldownTempSave" serializeAs="String">
                <value />
            </setting>
            <setting name="E_SusceptorUsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TopmostSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PERunDataLoggerSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CSVDirSave" serializeAs="String">
                <value />
            </setting>
            <setting name="PEFileSave" serializeAs="String">
                <value />
            </setting>
            <setting name="HourMeterSave" serializeAs="String">
                <value>1</value>
            </setting>
        </Reflow_Oven.My.MySettings>
    </userSettings>
</configuration>
